# Java
*.class
*.jar
*.war
*.ear

# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties

# IntelliJ IDEA
.idea/
*.iml
*.iws
out/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Docker
*.env

# Spring Boot specific
spring-petclinic-*/target/

# Helm
values.secret.yaml
infra/secrets/clustersecretstore.yaml.yaml
infra/secrets/dockerhub-externalsecret.yaml
infra/secrets/secretstore.yaml

# CloudFormation variables
*.params.json

# ignorer les fichiers JSON sensibles dans le dossier des scripts
projetpetclinicinitial/scripts/*.json
